/* || General Setup */
html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 12px;
  background-color: #dde;
}

body {
  width: 80%;
  min-width: 1024px;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* || Typography */
h1 {
  font-family: 'Sonsie One', cursive;
  font-size: 4rem;
  text-align: center;
  color: black;
  text-shadow: 2px 2px 10px black;
}

h2 {
  font-family: 'Sonsie One', cursive;
  font-size: 3rem;
  text-align: center;
  color: #2a2a2a;
}

h3 {
  font-family: 'Sonsie One', cursive;
  font-size: 2.2rem;
  margin-top: 2rem;
}

p, li, table, label {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #2a2a2a;
  font-size: 1.6rem;
  line-height: 1.5;
}

/* || Header and Navigation */
header {
  background-color: white;
  padding: 10px 0;
}

div[class="nav"] {
  height: 50px;
  background-color: #999; /* medium gray */
  display: flex;
  padding: 1% 0;
  margin-bottom: 10px;
}


nav ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex: 2;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

nav .search {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2em;
}

.search input {
  font-size: 1.6rem;
  height: 32px;
}

.search input[type="search"] {
  flex: 3;
}

.search input[type="submit"] {
  flex: 1;
  margin-left: 1rem;
  background: #333;
  border: 0;
  color: white;
}

/* || Main Layout */
main {
  display: flex;
}

article {
  flex: 5;
  padding-right: 10px;
}

.secondary {
  flex: 2;
}

footer {
  margin-top: 10px;
  text-align: center;
}

/* || Table Styling */
table {
  width: 100%;
  background-color: #dde;
  border-collapse: collapse;
}

caption {
  text-align: left;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

th, td {
  padding: 10px;
  text-align: center;
}

th[scope="col"] {
  border-bottom: 1px solid black;
}

tbody tr:nth-child(odd) {
  background-color: #def;
}

/* || Images and Audio */
img, audio {
  display: block;
  margin: 0 auto;
}

audio {
  width: 500px;
}

/* || Comments Section */
.comments {
  background-color: #def;
  padding: 10px;
}

.show-hide {
  cursor: pointer;
  text-align: center;
  width: 150px;
  display: inline-block;
  background: #333;
  border: 0;
  color: white;
  font-size: 1.6rem;
  line-height: 32px;
}

.comment-form {
  margin-bottom: 3rem;
}

.comment-form .flex-pair {
  display: flex;
  padding: 0 3rem 1rem;
}

.comment-form label {
  align-self: center;
  flex: 2;
  text-align: right;
}

.comment-form input {
  margin-left: 1rem;
  flex: 6;
}

.comment-form input[type="submit"] {
  width: 30%;
  display: block;
  margin: 0 auto;
  background: #333;
  border: 0;
  color: white;
}

.comment-container li {
  list-style-type: none;
  display: flex;
  margin-bottom: 1rem;
}

.comment-container li p:nth-child(1) {
  flex: 1;
  font-weight: bold;
}

.comment-container li p:nth-child(2) {
  flex: 5;
}

p {
  font-size: 1.2rem; /* increase paragraph text size only */
}
